<!--Header Component-->
<div class="navbar is-dark">
    <!--Logo-->
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            HOME
        </a>
    </div>

    <!-- Menu -->
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/contact">
                Contact
            </a>
            <a class="navbar-item" routerLink="/users">Users</a>
            <a class="navbar-item" routerLink="/viewMe">View Me!</a>
            <a class="navbar-item" routerLink="/viewMyLife">View my Life!</a>
        </div>
    </div>
</div>